<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-header-bar class="bar-header" align-title="middle">
            <button class="button button-icon icon ion-navicon" menu-toggle="left">&nbsp;</button>
            <div class="h1 title">Skynet</div>
        </ion-header-bar>

        <!-- Current state's content will show up here unless it's IP state -->
        <ion-nav-view></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" ng-controller="SideMenuController">
        <div menu-close ng-click="goTo('actions')" class="item">Actions</div>
        <div menu-close ng-click="goTo('move')" ng-show="robot.move" class="item">Move</div>
        <div menu-close ng-click="goTo('live')" ng-show="robot.hasCamera" class="item">Live</div>
        <div menu-close ng-click="signOut()" class="item">Sign out</div>
    </ion-side-menu>
</ion-side-menus>
