<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-header-bar class="bar-header" align-title="middle">
            <button class="button button-icon icon ion-navicon" menu-toggle="left">&nbsp;</button>
            <div class="h1 title">Skynet</div>
        </ion-header-bar>

        <!-- Current state's content will show up here unless it's IP state -->
        <ion-nav-view></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" ng-controller="SideMenuController">
        <!--
        <a menu-close href="#/home" class="item">Home</a>
        <a menu-close href="#/home" class="item">Home</a>
        <a menu-close href="#/home" class="item">Home</a>
        -->



        <div menu-close ng-click="goTo('home')" class="item">Home</div>
        <div menu-close ng-click="goTo('move')" class="item">Move</div>
        <div menu-close ng-click="signOut()" class="item">Sign out</div>


      <!--
      <div menu-close class="item"><a href="#/home">Home</a></div>
      <div menu-close class="item"><a href="#/move">Move</a></div>
      <div menu-close class="item">Sign out</div>
      -->
    </ion-side-menu>
</ion-side-menus>
