<ion-view>
  <!-- If ion-content is declared outside of the view, the iOS version breaks -->
  <ion-content ng-controller="ActionsController">
    <div ng-include="'templates/information-bar.html'"></div>

    <div class="alternating-table" ng-repeat="(actionType, actions) in groupedActions">
      <div class="row">
        <!-- When .col is missing from the table, it will be visible like usual but just without a border around the title (which is empty in that case) -->
        <div ng-class="{col: actionType != ''}" class="col-title">{{ actionType | capitalize }}</div>
      </div>
      <div class="row" >
        <div class="col col-text vertically-aligned table-heading">Action</div>
        <div class="col col-button vertically-aligned table-heading">Play</div>
      </div>

      <div class="row" ng-repeat="action in actions">
        <div class="col col-description vertically-aligned">{{ action.displayName }}</div>
        <div class="col col-content"><button class="ion-play button button-positive button-small button-block no-margin" ng-click="doAction(action.route)"></button></div>
      </div>
    </div>
  </ion-content>
</ion-view>
