<ion-view>
  <!-- If ion-content is declared outside of the view, the iOS version breaks -->
  <ion-content ng-controller="MoveController">
    <div ng-include="'templates/information-bar.html'"></div>

    <label class="item item-input">
      <span class="input-label">X</span>
      <input type="number" ng-model="x" required/>
    </label>

    <label class="item item-input">
      <span class="input-label">Y</span>
      <input type="number" ng-model="y" required/>
    </label>

    <label class="item item-input">
      <span class="input-label">D</span>
      <input type="number" ng-model="d" required/>
    </label>

     <div class="padded-button-wrapper">
       <button class="ion-play button button-block button-positive" ng-click="robot.move(x,y,d)"></button>
     </div>
  </ion-content>
</ion-view>
