<ion-view>
  <ion-nav-bar class="bar-stable" align-title="middle">
    <ion-nav-title>Skynet</ion-nav-title>
  </ion-nav-bar>
  <ion-content>
    <!-- novalidate = don't use HTML5 validation -->
    <form name="ipForm" ng-submit="connectFromForm()" ng-show="showForm" novalidate>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">IP</span>
          <input type="text" ng-model="ip" ng-pattern="ipRegex" required/>
        </label>
        <label class="item item-input">
          <span class="input-label">Port</span>
          <input type="number" ng-model="port" required>
        </label>
      </div>

      <div class="padded-button-wrapper">
        <!-- You should not be able to procede without inputting valid information -->
        <button type="submit" ng-disabled="ipForm.$invalid" class="button button-block button-positive">Continue</button>
      </div>
    </form>

    <div ng-hide="previousIps.length == 0">
      <h3 class="title-positive text-center">Previous IPs</h3>
      <div class="list ip-list">
        <div class="item" ng-repeat="ip in previousIps | reverse track by $index" ng-click="connectFromList(ip)">
          {{ ip }}
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
