/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

.spinner svg {
  width: 99%;
  height: 99%;
}

.title-positive {
  color: $positive;
}

.skynet-list-positive * {
  background-color: $positive;
}

/*
table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
  margin: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
*/

.no-margin {
  margin: 0 !important;
}

/* http://codepen.io/mhartington/pen/gcHeL */
.vertically-aligned {
  /*vertical-align:middle*/
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.col-text {
  @extend .col-33
}

.col-button {
  @extend .col-66
}

.alternating-table .table-heading {
  color: $positive;
  font-weight: bold;
  font-size: 1.2em;
}

.alternating-table .col {
  border: 1px solid lightgray;
}

.alternating-table .row:nth-child(even) {
  background-color: #f1f1f1;
}
.alternating-table .row:nth-child(odd) {
  background-color: #ffffff;
}
