/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
$skynet-color-light-gray: #f1f1f1;
$skynet-color-gray: #c4c4c4;

img {
  max-width: 100%;
  height: auto;
}

.information-bar {
  background-color: $skynet-color-gray;
}

.ip-list {
  .item {
    text-align: center !important;
  }
}

.padded-button-wrapper {
  padding: 0 10px !important;
}

.spinner svg {
  width: 99%;
  height: 99%;
}

.title-positive {
  color: $positive;
}

.skynet-list-positive * {
  background-color: $positive;
}

.feed-container {
  display: flex;
  justify-content: center;
  align-content: space-around;
  align-items: center;
}

.no-margin {
  margin: 0 !important;
}

/* http://codepen.io/mhartington/pen/gcHeL */
.vertically-aligned {
  /*vertical-align:middle*/
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

.alternating-table {
  .table-heading {
    color: $positive;
    font-weight: bold;
    font-size: 1.2em;
  }

  .col {
    border: 1px solid $skynet-color-gray;
  }

  .col-title {
    /*@extend .col-100*/
  }

  .col-description {
    @extend .col-33
  }

  .col-content {
    @extend .col-66
  }

  .row:nth-child(even) {
    background-color: $skynet-color-light-gray;
  }

  .row:nth-child(odd) {
    background-color: #ffffff;
  }
}
